//Color

$color-black: #000;
$color-white: #fff;
$color-blue: #3C336C;
$color-dark-blue: #3C336C;
$color-green: #309F85;
$color-dark-green: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #309F85;
$color-gray: #8E8E8E;
$color-light-blue: #6496ff;

//Animation

$transit-300: 0.3s ease;