.hero {
  margin-top: -470px;
  padding: 65px 0;
  background:url("../images/hero_bg.png") no-repeat 80% 100% / 785px auto,
          linear-gradient(42deg, #9796F0 -17.31%, #FBC7D4 106.72%);

  z-index: -1;

  &__wrapper {
    padding: 380px 0 0;



  }

  &__title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.92px;
    line-height: 58px;
    text-transform: uppercase;
    width: 855px;
  }

  &__description {
    margin: 0 0 58px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.92px;
    width: 620px;
  }

  &__list {
    margin: 0 0 0 -15px;
    display: flex;
    justify-content: start;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__text, &__text-accent {
    font-size: 21px;
    line-height: 28px;
    font-weight: 500;
    width: 210px;
    text-align: center;
  }
  &__text-accent {
    font-weight: 700;
  }

}